:root {
    /* BREAKPOINTS */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --Mobile: 375px;
    --Desktop: 1440px;

    /* COLORS */
    --background-color: hsl(0, 0%, 81%);
    --background-color2: hsl(210, 46%, 95%);
    --color-violet: hsl(263, 55%, 52%);
    --color-grayish-blue: hsl(217, 19%, 35%);
    --color-blackish-blue: hsl(219, 29%, 14%);
    --white-color: hsl(0, 0%, 100%);

    /* FONT SIZE */
    /* 5rem = 8px  |  1rem = 16px */
    --fontsize-h: 13px;
    --fontsize-p: 10px;


    /* FONT WEIGHT */
    --fontweight-1: 500;
    --fontweight-2: 600;

    /* LINE HEIGHT */
    --lineheight-h: ;
    --lineheight-p: ;


    /* PADDING SECTION */
    --padding-primary: ;

    /* TYPOGRAPHY */
    --ffamily-main: "Barlow Semi Condensed", sans-serif;
    --ffamily-secundary: "Montserrat", sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: var(--background-color2);
    min-width: 350px;
    justify-items: center;
}

/* PREDEFINE STYLES */

h2 {
    color: rgb(184, 184, 184);
    font-family: var(--ffamily-main);
    font-weight: 600;
    font-size: 20px;
}

p {
    color: rgb(162, 161, 161);
    font-family: var(--ffamily-main);
    font-weight: 500;
    font-size: 15px;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
    max-width: 380px;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-areas:
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
    ;
}

.photo-card {
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--background-color);
}

.card-1 {
    grid-area: uno;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-violet);
    border-radius: 10px;
    padding: 20px 40px;
    gap: 20px;

    header {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .card-1__description1 {

        h2 {}

        p {}
    }

    .card-1__description2 {
        display: grid;
        gap: 20px;

        .card-1__paragraph1 {
            font-family: var(--ffamily-secundary);
            font-size: 22px;
            color: var(--background-color);
            font-weight: 500;
        }

        .card-2__paragraph2 {
            color: rgb(162, 161, 161);
            font-family: var(--ffamily-secundary);
            font-size: 18px;
        }
    }
}

.card-2 {
    grid-area: dos;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-grayish-blue);
    border-radius: 10px;
    padding: 20px 40px;
    gap: 20px;

    header {
        display: flex;
        gap: 20px;
        align-items: center;
    }


    .card-2__description1 {

        h2 {}

        p {}
    }

    .card-2__description2 {
        display: grid;
        gap: 20px;

        .card-2__paragraph1 {
            font-family: var(--ffamily-secundary);
            font-size: 22px;
            color: var(--background-color);
            font-weight: 500;
        }

        .card-2__paragraph2 {
            color: rgb(162, 161, 161);
            font-family: var(--ffamily-secundary);
            font-size: 18px;
        }
    }
}

.card-3 {
    grid-area: tres;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 20px 40px;
    gap: 20px;

    header {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .card-3__description1 {

        h2 {
            color: var(--color-blackish-blue);
        }

        p {}
    }

    .card-3__description2 {
        display: grid;
        gap: 20px;

        .card-3__paragraph1 {
            font-family: var(--ffamily-secundary);
            font-size: 22px;
            color: var(--color-blackish-blue);
            font-weight: 600;
        }

        .card-3__paragraph2 {
            color: rgb(162, 161, 161);
            font-family: var(--ffamily-secundary);
            font-size: 18px;
        }
    }
}

.card-4 {
    grid-area: cuatro;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-blackish-blue);
    border-radius: 10px;
    padding: 20px 40px;
    gap: 20px;

    header {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .card-4__description1 {

        h2 {
            color: var(--white-color);
        }

        p {}
    }

    .card-4__description2 {
        display: grid;
        gap: 20px;

        .card-4__paragraph1 {
            font-family: var(--ffamily-secundary);
            font-size: 22px;
            color: var(--white-color);
            font-weight: 600;
        }

        .card-4__paragraph2 {
            color: rgb(162, 161, 161);
            font-family: var(--ffamily-secundary);
            font-size: 18px;
        }
    }
}

.card-5 {
    grid-area: cinco;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 20px 40px;
    gap: 20px;

    header {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .card-5__description1 {

        h2 {
            color: var(--color-blackish-blue);
        }

        p {}
    }

    .card-5__description2 {
        display: grid;
        gap: 20px;

        .card-5__paragraph1 {
            font-family: var(--ffamily-secundary);
            font-size: 22px;
            color: var(--color-blackish-blue);
            font-weight: 600;
        }

        .card-5__paragraph2 {
            color: rgb(162, 161, 161);
            font-family: var(--ffamily-secundary);
            font-size: 18px;
        }
    }
}

/*DESKTOP VERSION */

@media (width >=1200px) {

    body {
        display: grid;
        background-color: var(--background-color2);
        /* min-width: 1800px; */
        justify-items: center;
        height: 100vh;
    }

    .container-grid {
        display: grid;
        align-content: center;
        row-gap: 0;
        grid-template-columns: 4fr;
        grid-template-rows: 15em 15em;
        max-width: 1280px;
        gap: 20px;
        grid-template-areas:
            "uno uno dos cinco"
            "tres cuatro cuatro cinco";
    }

    .photo-card {
        width: 40px;
        border-radius: 50%;
        border: 2px solid var(--background-color);
    }

    .card-1 {
        grid-area: uno;
        display: grid;
        background-color: var(--color-violet);
        border-radius: 10px;
        padding: 10px 30px;
        row-gap: 5px;
        min-width: 400px;

        header {
            display: flex;
            align-items: center;

            .card-1__description1 {

                h2 {
                    font-size: 15px;
                }

                p {
                    font-size: 15px;
                }
            }
        }

        .card-1__description2 {
            display: grid;
            row-gap: 5px;


            .card-1__paragraph1 {
                font-family: var(--ffamily-secundary);
                font-size: 15px;
                color: var(--background-color);
                font-weight: 600;
            }

            .card-1__paragraph2 {
                color: rgb(162, 161, 161);
                font-family: var(--ffamily-secundary);
                font-size: 12px;
            }
        }
    }

    .card-2 {
        grid-area: dos;
        display: grid;
        background-color: var(--color-grayish-blue);
        border-radius: 10px;
        padding: 10px 30px;
        row-gap: 0;
        min-width: 200px;

        header {
            display: flex;
            align-items: center;


            .card-2__description1 {

                h2 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        .card-2__description2 {
            display: grid;
            row-gap: 0;

            .card-2__paragraph1 {
                row-gap: 0;
                font-family: var(--ffamily-secundary);
                font-size: 15px;
                color: var(--background-color);
                font-weight: 600;
            }

            .card-2__paragraph2 {
                row-gap: 0;
                color: rgb(162, 161, 161);
                font-family: var(--ffamily-secundary);
                font-size: 13px;
            }
        }
    }

    .card-3 {
        grid-area: tres;
        display: grid;
        background-color: var(--white-color);
        border-radius: 10px;
        padding: 5px 20px;
        row-gap: 0;
        min-width: 200px;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;


        header {
            display: flex;
            align-items: center;

            .card-3__description1 {

                h2 {
                    font-size: 15px;
                    color: var(--color-blackish-blue);
                }

                p {
                    font-size: 13px;
                }
            }

        }


        .card-3__description2 {
            display: grid;
            gap: 0;

            .card-3__paragraph1 {
                font-family: var(--ffamily-secundary);
                font-size: 15px;
                color: var(--color-blackish-blue);
                font-weight: 600;
            }

            .card-3__paragraph2 {
                color: rgb(162, 161, 161);
                font-family: var(--ffamily-secundary);
                font-size: 13px;
            }
        }
    }

    .card-4 {
        grid-area: cuatro;
        display: grid;
        background-color: var(--color-blackish-blue);
        border-radius: 10px;
        padding: 10px 30px;
        row-gap: 0;
        min-width: 400px;

        header {
            display: flex;
            align-items: center;
        }

        .card-4__description1 {

            h2 {
                font-size: 15px;
                color: var(--white-color);
            }

            p {
                font-size: 13px;
            }
        }

        .card-4__description2 {
            display: grid;
            gap: 0;

            .card-4__paragraph1 {
                font-family: var(--ffamily-secundary);
                font-size: 15px;
                color: var(--white-color);
                font-weight: 500;
            }

            .card-4__paragraph2 {
                color: rgb(162, 161, 161);
                font-family: var(--ffamily-secundary);
                font-size: 13px;
            }
        }
    }

    .card-5 {
        grid-area: cinco;
        display: grid;
        background-color: var(--white-color);
        border-radius: 10px;
        padding: 10px 30px;
        row-gap: 0;
        min-width: 200px;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;


        header {
            display: flex;
            align-items: center;
        }

        .card-5__description1 {

            h2 {
                font-size: 15px;
                color: var(--color-blackish-blue);
            }

            p {
                font-size: 13px;
            }
        }

        .card-5__description2 {
            display: grid;
            gap: 0;

            .card-5__paragraph1 {
                font-family: var(--ffamily-secundary);
                font-size: 15px;
                color: var(--color-blackish-blue);
                font-weight: 600;
            }

            .card-5__paragraph2 {
                color: rgb(162, 161, 161);
                font-family: var(--ffamily-secundary);
                font-size: 13px;
            }
        }
    }
}